<html>
<head>
    <title>Sheriff</title>
</head>
<body>
    Auto add Github webhook
    <% FEATURES.each do |name, feature| %>
        <a href="/<%= name %>"><%= name %></a>
    <% end %>
</body>
</html>
