doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Sheriff
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans')
        link(rel='stylesheet', href='stylesheets/bulma.css')
        link(rel='stylesheet', href='stylesheets/app.css')
    body
        block content

        block js
