html, body {
    background-color: #0E2431;
    color: #E8D5B7;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 10rem;
}

label.label {
    color: #E8D5B7;
}

a {
    color: #FC3A52;
    font-weight: bold;
}

a:hover {
    color: #FC3A52;
}

.card {
    background-color: #16374b;
    border-radius: 5px;
}

.content h1, h2, h3 {
    font-family: 'Bree Serif', serif;
    color: #E8D5B7;
}

.mtl {
    margin-top: 40px;
}
